.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	background-color: rgb(146, 197, 162);
}
body{
	background-color:rgb(146, 197, 162);
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

form {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="datetime-local"] {
	padding: 10px;
	font-size: 16px;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#countdown {
	font-size: 36px;
	font-weight: bold;
}

